@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root{
    --cor-primaria: #000000;
    --cor-secundaria: #28ee00;
    /*--cor-secundaria: #22d4fd;*/
    --cor-terciaria: #f6f6f6;

    --fonte--primaria: 'Roboto', sans-serif;
    --fonte--secundaria: 'Montserrat', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
    box-sizing: border-box;
}
.cabecalho{
    padding-top: 2%;
    padding-left: 15%;

}
.cabecalho__menu{
    display: flex;
    gap: 80px;

}
.cabecalho__menu__link{
    font-family: var(--fonte--secundaria);
    font-size: 1rem;
    font-weight: 600;
    color: var(--cor-secundaria);
    text-decoration: none;
}
.titulo-destaque{
    color: var(--cor-secundaria);
}
.apresentacao{
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    margin: 2px;
    font-family: var(--fonte--primaria);
}
.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    margin: 2px;
    font-family: var(--fonte--secundaria);
}
.apresentacao__conteudo__links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

}
.apresentacao__conteudo__links_subtitulo{
    font-family: var(--fonte--primaria);
    font-size: 1.5rem;
}
.apresentacao__conteudo__links__botao{
    background-color: var(--cor-primaria);
    width: 50%;
    text-align: center;
    border-radius: 10px;
    font-size: 1.25rem;
    font-family: var(--fonte--secundaria);
    padding: 10px;
    color: var(--cor-terciaria);
    text-decoration: none;
    font-weight: 600;
    border: 2px solid var(--cor-secundaria);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 3px;

}
.apresentacao__conteudo__links__botao:hover{
    background-color: #003d4b;
}
.apresentacao__conteudo__links_icon{
    width: 25px;
    height: 25px;
}
.rodape{
    width: auto;
    background-color: var(--cor-secundaria);
    padding: 10px;
    text-align: center;
    font-family: var(--fonte--secundaria);
    font-size: 0.9rem;
}
.foto__perfil{
    width: 40%;
    border: 2px solid var(--cor-secundaria);
    border-radius: 2px;
}

@media(max-width: 1200px){
    .cabecalho{
        padding: 10%;
    }
    .cabecalho__menu{
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo{
        width: auto;
    }
}